.services__list{
    @include lists;
margin-top: 200px;

}
.services__item{    
    display: flex;
    align-items: center;
    margin-bottom:160px;
position: relative;

}
.services__item::before{
    content: '';
    width: 735px;
    height: 138px;
    top: 310px;
    left: 500px;
    background: url('../../img/strelka.svg') no-repeat center center;
    position: absolute;
    z-index: 2;
}
.services--city::before{
    content: '';
    width: 735px;
    height: 138px;
    top: 19px;
    left: -345px;
    background: url('../../img/strelka2.svg') no-repeat center center;
    position: absolute; 
}
.services--zero::before{
    content: '';
    width: 735px;
    height: 138px;
    top: 86px;
    left: 748px;
    background: url('../../img/strelka3.svg') no-repeat center center;
    position: absolute;
    z-index: 2;
}
.services__item:last-child{
    margin-bottom: 0;
  
}
.services__item:nth-child(2){
    flex-direction: row-reverse;
}
.services__img{
    border-radius: 50%;
    margin-left: 200px;
    position: relative;
}
.services__description{
    width: 445px;

}
.services__text{
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    margin-bottom: 54px;
    color: #939CAA;

}
.services__item-title{
    font-family: "Space Mono", monospace;
    font-weight: 700;
    color: #495567;
    font-size:48px;
}
.services__link{
    font-family: "Space Mono", monospace;
    font-weight: 700;
    margin-left: 0;
}
.services--image{
    margin-right: 275px;
    margin-left: 0;
}
.services__img::after{
content: '';
display: block;
width: 734px;
height: 94px;
background-image: url(../../img/strelka.svg) ;
background-repeat: no-repeat;
background-position: center center;
position: absolute;

}
@media screen and (max-width:1106px){
    .services__item{
        flex-direction: column-reverse;
        text-align: center;
        &::before{
            left: 0;
        }
     
    }
    .services__img{
        margin-left: 0;
    }
    .services__item:nth-child(2){
        flex-direction: column-reverse;
    }
    .services--image{
        margin-right: 0;
    }
    .services--city::before{
        left: -223px;
    }
    .services--zero::before{
        left: 193px;
    }
    .services__text{
        width: 573px;
        margin-left: -62px ;
    }
}
// mobile
@media screen and (max-width:689px){
    .services__item{
        &::before{
            background: url(../../img/strelka3.svg) no-repeat center center;
            left: -216px;
            top: 156px;
            // display: none;
       
        }
    }
   
    .services__text{
        width: 311px;
        margin-left: 72px;
    }
    .services__item-title{
        font-size: 32px;
        width: 311px;
        margin-left: 72px;
    }
    .services__img{
        width: 311px;
        height: 311px;
    }
 .services__list{
     width: 311px;
     margin-left: -13px;
     margin-bottom: 50px;
 }
  
}