@font-face {
    src: url('../fonts/SpaceMono-Bold.woff');
  font-family: "Space Mono", monospace;
  font-weight: normal;
  font-style: normal;
  }
  @font-face {
    font-family: 'Lexend Deca', sans-serif;
    src: url('../fonts/LexendDeca-Regular.woff');
    font-style: normal;
    font-weight: normal;
  }